@using abc.Entity;
@model Product
@{
    ViewBag.Title = "Details";
}

<div class="row">

    <div class="col-md-6">
        @switch (Model.CategoryId)
        {
            case 1:
                <img src="~/theme/img/photo-camera.jpg" class="img-responsive w-100" alt="@Model.Name" />
                break;

            case 2:
                <img src="~/theme/img/bilgisayar.png" class="img-responsive w-100" alt="@Model.Name" />
                break;

            case 3:
                <img src="~/theme/img/elektronik.jpg" class="img-responsive w-100" alt="@Model.Name" />
                break;

            case 4:
                <img src="~/theme/img/telefon.jpg"  class="img-responsive w-100" alt="@Model.Name" />
                break;

            case 5:
                <img src="~/theme/img/beyaz eşya.jpg"  class="img-responsive w-100" alt="@Model.Name" />
                break;
        }
    </div>
    <div class="col-md-6">
        <h1>@Model.Name</h1>
        <div class="row">
            <div class="col-md-12">
                <span class="badge badge-primary">In Stock </span>
                <span class="product-number">#256974</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="description">
                    @Model.Description
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <h4 id="product-price">@Model.Price TL</h4>
            </div>
        </div>
    </div>

</div>
